<!DOCTYPE html>
//- html(lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" )
html(lang="ru" class=" no-touch" )
	include pages/_head
	include pages/_burger-menu
	
	body
			include pages/_header-content

			include pages/_about-product
			.image-bottom

			include pages/_use
			.image-bottom.image-bottom-use
				
			include pages/_benefit

			include pages/_footer

	<div class="top" title="Наверх"><i class="fa fa-angle-up"></i></div>
	
	include pages/_foot