section#about-product.section-about-product
	a(href="#about-product")
	.image-hand
	//- 
	.container
		.row
			.col-md-7.col-md-offset-5.col-sm-12
				.about-project-wrapper
					h2.title О продукте
					p.subtitle HYPOPHYS – полностью природный препарат на основе Гуминовых кислот, получаемый уникальным способом из&nbsp;лигнита, с сохранением нейтрального или слабощелочного баланса РН 6,5-7,5.
					p.subtitle Это является очень важным критерием для удержания правильной концентрации Азота в почве и жизни животной фауны.
					p.subtitle Отличительной чертой данного препарата является соотношение гуминовых и фульфокислот при оптимальном РН&nbsp;балансе в комплексе с необходимым запасом полезных микроэлементов.
					p.subtitle Эффективность доказана на практике с применением всего 1&nbsp;-&nbsp;го&nbsp;литра концентрата на гектар при некорневой обработке.
					.leaf-bottom-center
						img(src="img/leaf-bottom-center.png", alt="icon", width="150px", height="auto")
					.leaf-bottom-left
						img(src="img/leaf-bottom-left.png", alt="icon", width="200px", height="auto")

					
					.leaf-top-right
						//- img(src="img/leaf-top-right.png", alt="icon", width="230px", height="auto")
					.leaf-top-left
						img(src="img/leaf-top-left.png", alt="icon", width="100px", height="auto")
					.leaf-bottom-right
						//- img(src="img/leaf-bottom-right.png", alt="icon", width="200px", height="auto")
	//- .image-bottom
		