section#benefit.section-benefit
	a(href="#benefit")
	.petals
		//- #scene
		//- .petal-top-right(data-depth="0.2")
		//- .petal-bottom-left(data-depth="0.2")
		//- .petal-bottom-center(data-depth="0.2")
		//- .petal-top-left(data-depth="1.0")
		//- .petal-bottom-right(data-depth="1.0")
		.petal-top-right
		.petal-bottom-left
		.petal-bottom-center
		.petal-top-left
		.petal-bottom-right

	.container
		.row
			.col-md-12
				h2.title.centered Польза Hypophys

		.row
			.col-md-5.col-sm-5.hidden-xs
				.benefit-image
					img(src="img/tree.jpg", alt="field")
					
			.col-md-6.col-sm-7.col-xs-11
				ul.benefit-list
					li Естественен для почвы и укрепляет микрофлору, а также повышает процент всхожести семян при замачивании.
					li Стимулирует активный рост и развитие растений.
					li Повышает урожайность и иммунитет растений.
					li После обработки растения становятся практически не уязвимы для большинства болезней и насекомых- вредителей.
					li Повышает морозо- и засухоустойчивость и качество выращенной продукции.
					li Его можно использовать каждый год.
					li Не содержит семян сорных растений, патогенную микрофлору, яйца и личинки насекомых.
	.benefit-image--mob.hidden-lg.hidden-md.hidden-sm
		img(src="img/tree-mob.jpg", alt="field" style="width: 100%;")
	//- .img
	//- 	img(src="img/spike-top-right.png", alt="")
