.blockmenu
	ul.menu
		
		li.navigation__item
			a(href="#").navigation__link Продукты

		li.navigation__item
			a(href="#").navigation__link Регламент применения

		li.navigation__item
			a(href="#").navigation__link Опыт

		li.navigation__item
			a(href="#").navigation__link Компания

		li.navigation__item
			a(href="#").navigation__link СМИ о нас

		li.navigation__item
			a(href="#").navigation__link Партнерам