ul.droplink
	li.droplink-item
		a(href="#")
	li.droplink-item
		a(href="#") Проекты
	li.droplink-item
		a(href="#") Технологии
	li.droplink-item
		a(href="#") Интерьер
	li.droplink-item
		a(href="#") Благоустройство
	li.droplink-item
		a(href="#") Инжинерия
	li.droplink-item
		a(href="#") Умный дом



ul.droplink