footer.main-footer
	nav.navigation-wrapper
		.container.hidden-sm.hidden-xs
			.row
				.col-md-2.col-sm-6.col-xs-6
					.logo
						a(href="#main-home")
							img(src="img/logo_hypophys.png", alt="Hypophys logo", width="100%", height="auto")
				.col-md-8
					.copyright-nav-wrapper.footer-nav-wrapper
						ul.navigation.footer-nav-list
							li.navigation__item
								a(href="#").navigation__link Продукты

							li.navigation__item
								a(href="#").navigation__link Регламент применения

							li.navigation__item
								a(href="#").navigation__link Опыт

							li.navigation__item
								a(href="#").navigation__link Компания

							li.navigation__item
								a(href="#").navigation__link СМИ о нас

							li.navigation__item
								a(href="#").navigation__link Партнерам
						.copyright &copy; 2019 Вся информация, размещённая на сайте, является интеллектуальной собственностью.
				.col-md-2.col-sm-6.col-xs-6
					.social-icons
						ul.soc
							li
								a(href="#")
									i.fa.fa-vk
							li
								a(href="#")
									i.fa.fa-facebook
							li
								a(href="#")
									i.fa.fa-instagram
					.phone
						a(href="tel:+74953244443") +7 495 324 44 43
						a(href="mailto:info@humatenl.ru").email info@humatenl.ru

		.container.hidden-lg.hidden-md
			.row
				.col-sm-6.col-xs-6
					.logo
						a(href="#main-home")
							img(src="img/logo_hypophys.png", alt="Hypophys logo", width="85%", height="auto")
				.col-sm-6.col-xs-6
					.phone
						a(href="tel:+74953244443") +7 495 324 44 43
						a(href="email:info@humatenl.ru").email info@humatenl.ru	
			.row
				.col-sm-12.col-xs-12
					.social-icons.centered
						ul.soc
							li
								a(href="#")
									i.fa.fa-vk
							li
								a(href="#")
									i.fa.fa-facebook
							li
								a(href="#")
									i.fa.fa-instagram


			.row
				.col-md-12
					.copyright-nav-wrapper.footer-nav-wrapper
						.copyright &copy; 2019 Вся информация размещенная на сайте является интеллектуальной собственностью.
				
							