section#main-home.section-home
	a(href="#main-home")
	include _animate-number
	.container
		.row
			include _navigation
		.row
			.col-md-6.col-sm-12.col-xs-12 
				h1.header-content--desc ОРГАНИЧЕСКОЕ ЗЕМЛЕДЕЛИЕ — ЗАЛОГ ВЫСОКОГО УРОЖАЯ
			
				a(href="Hypophys.pdf").button Скачать презентацию
		
	//- .cd-scroll-down__wrapper 
	//- 	a(href="#about-product").cd-scroll-down.cd-img-replace