nav.navigation-wrapper
	.logo
		a(href="#main-home")
			img(src="img/logo_hypophys.png" alt="Hypophys logo" width="85%" height="auto")

	ul.navigation
		li.navigation__item
			a(href="#").navigation__link Продукты

		li.navigation__item
			a(href="#").navigation__link Регламент применения

		li.navigation__item
			a(href="#").navigation__link Опыт

		li.navigation__item
			a(href="#").navigation__link Компания

		li.navigation__item
			a(href="#").navigation__link СМИ о нас

		li.navigation__item
			a(href="#").navigation__link Партнерам

	.phone
		a(href="tel:+74953244443") +7 495 324 44 43
		a(href="mailto:info@humatenl.ru").email info@humatenl.ru
		
	.menu-btn
		span

