section#use.section-use
	a(href="#use")
	.spike-bottom-left
	//- 	//- img(src="img/spike-bottom-left.png", alt="icon", width="200px", height="auto")
	.spike-top-right
	//- 	img(src="img/spike-top-right-1.png", alt="icon", width="300px", height="auto")
	.spike-top-left
		//- img(src="img/spike-bottom.png", alt="icon", width="600px", height="auto")
	.spike-bottom-right
		//- img(src="img/spike-bottom-right.png", alt="icon", width="250px", height="auto")

	.container.wow.slow.fadeInUp
		.row
			.col-md-12
				h2.title.centered Область применения
		.row
			.col-md-3.col-sm-6.col-xs-6
				.use-article-icon
					img(src="img/wheat.png", alt="icon", width="100px" height="auto")
				.use-article-title Сельское хозяйство:
					ul.use-article-list
						li злаки, бобовые,
						li масличные,
						li ягодные,
						li овощные.

			.col-md-3.col-sm-6.col-xs-6
				.use-article-icon
					img(src="img/root.png", alt="icon", width="100px" height="auto")
				.use-article-title Сад и огород:
					ul.use-article-list
						li овощные,
						li плодово-ягодные.

			.col-md-3.col-sm-6.col-xs-6
				.use-article-icon
					img(src="img/cattle.png", alt="icon", width="100px" height="auto")
				.use-article-title Животноводство:
					ul.use-article-list
						li свинокомплекс,
						li птицефабрика,
						li крупный рогатый скот.


			.col-md-3.col-sm-6.col-xs-6
				.use-article-icon
					img(src="img/grass.png", alt="icon", width="100px" height="auto")
				.use-article-title Клумба, газон, горшок:
					ul.use-article-list
						li декоративно лиственные,
						li декоративно цветущие,
						li розы и хризантемы,
						li фиалки и бегонии,
						li фикусы и пальмы,
						li гортензии и петунии,
						li орхидеи, хвойные, газон.

	//- .image-bottom.image-bottom-use

